<connectionStrings>
  <add name="local"
       providerName="System.Data.SqlClient"
       connectionString="Initial Catalog= localdb;Data Source=.;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  <add name ="kraka"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmab0914_2Sem_5;Integrated Security=False;User ID=dmab0914_2sem_5;Password=IsAllowed;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
</connectionStrings>