<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings configSource="connectionStrings.config" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_IBuyerService" />
                        <binding name="BasicHttpBinding_ILocationService" />
                        <binding name="BasicHttpBinding_ISellerService" />
                        <binding name="BasicHttpBinding_IUserService" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLib/BuyerService/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuyerService"
                        contract="BuyerServiceReferenceNew.IBuyerService" name="BasicHttpBinding_IBuyerService" />
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLib/LocationService/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocationService"
                        contract="LocationServiceReferenceNew.ILocationService"
                        name="BasicHttpBinding_ILocationService" />
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLib/SellerService/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISellerService"
                        contract="SellerServiceReferenceNew.ISellerService" name="BasicHttpBinding_ISellerService" />
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLib/UserService/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                        contract="UserServiceReferenceNew.IUserService" name="BasicHttpBinding_IUserService" />
        </client>
    </system.serviceModel>
</configuration>