<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_IUserService" />
                        <binding name="BasicHttpBinding_ISellerService" />
                        <binding name="BasicHttpBinding_ILocationService" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service1/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                        contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/SellerService/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISellerService"
                        contract="SellerServiceReference.ISellerService" name="BasicHttpBinding_ISellerService" />
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/LocationService/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocationService"
                        contract="LocationServiceReference.ILocationService" name="BasicHttpBinding_ILocationService" />
        </client>
    </system.serviceModel>
</configuration>