<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      
        <bindings>
          
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBuyerService" maxBufferPoolSize="2147483647"

maxBufferSize="2147483647"


maxReceivedMessageSize="2147483647">
                  <readerQuotas maxDepth="1000"

maxStringContentLength="2147483647"

maxArrayLength="2147483647"

maxBytesPerRead="2147483647"

maxNameTableCharCount="524288" />
                </binding>
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/BuyerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuyerService"
                contract="BuyerServiceReference.IBuyerService" name="BasicHttpBinding_IBuyerService" />
          
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
        </client>
    </system.serviceModel>
</configuration>